/* Definición de las variables (base de colores) */
:root {
    --color-verde: #4CAF50;
    --color-blanco: #FFF;
    --color-morado: #F4F4;
    --color-aqua: aquamarine;
    --color-azul: rgba(19, 177, 137, 0.541);
    --color-negro: #000;
}

.contenedor {
    display: grid;
    /* 1 columna para la barra lateral, 3 columnas para el contenido */
    grid-template-columns: 1fr 3fr;
    /* Filas: Header, Contenido Prinicpal y otra para el footer */
    grid-template-rows: auto 1fr auto;
    /* Grid Template Areas */
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer"
    ;
    gap: 20px;
    /* Espacio entre los elementos del grid */
    height: 100vh;
}

header {
    grid-area: header;
    background-color: var(--color-verde);
    color: var(--color-blanco);
    padding: 20px;
    text-align: center;
}

/* BArra lateral */

aside {
    grid-area: sidebar;
    background-color: var(--color-morado);
    color: var(--color-negro);
    padding: 20px;
}

main {
    grid-area: content;
    background-color: var(--color-aqua);
    padding: 20px;
}

footer {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    grid-area: footer;
    text-align: center;
    padding: 20px;
}

.contenido {
    display: flex;
    flex-direction: column;
}